.home {
// height: 100vh;
// align-items: center;
// justify-content: center;

	&__greeting {
		display: flex;
		flex-direction: column;
		// background-color: purple;
		// background-image: url("../../Assets/clouds.png");
		// background-repeat: no-repeat;
		// background-attachment: fixed;
		// background-size: 100% 100%;
		
		// color: rgb(32, 19, 80);
		padding: 1rem;
		border-radius: 0.5rem;
	}
}