.header {
  margin-bottom: 8px;
  font-weight: bolder;
  background: #0AB5CF;
  /* background: linear-gradient(to right, #0AB5CF 0%, #CF5FAD 100%); */
  background: linear-gradient(to right, cyan 0%, #c605c6 30%, #e88898 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}